@import "tailwindcss";



html, 
body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  background: var(--background-color);
  color: var(--color);
}

:root {
  --background-color: white;
  --color: black;
  --theme-toggle-bg: white;
}

[data-theme="dark"] {
  --background-color: #121212;
  --color: #e0e0e0;
  --theme-toggle-bg: black
}


/* Theme dropdown styles */
.theme-dropdown {
    position: absolute;         
    right: 0;                  
    margin-top: 0.5rem;       
    width: 5rem;                
    background-color: var(--theme-toggle-bg);    
    border-radius: 0.25rem;    
    box-shadow: 0 1px 2px rgba(0,0,0,0.05); 
    z-index: 50;               
    overflow: hidden;          
    transition: all 0.3s ease-out;
}
.theme-dropdown.closed {
    max-height: 0;              
    opacity: 0;                
    transform: translateY(0);   
}

.theme-dropdown.open {
    max-height: 10rem;         
    opacity: 1;                
    transform: translateY(0.5rem); 
}

.theme-dropdown button {
    display: block;        
    width: 100%;           
    padding: 0.5rem 0.75rem; 
    text-align: left;      
    background: none;      
    border: none;         
    cursor: pointer;
}

.theme-dropdown button:hover {
    color: #3b82f6;        
}



@layer utilities {
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }


  @keyframes loading {
    0% {
      transform: translateX(-100%)
    }
    100% {
      transform: translateX(250%)
    }
  }

  /* Remove if wanted for loading bar
  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
  */
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}